{% block html_head_container %}
{% include 'head.twig' %}
  {% block head %}
  {% endblock %}
{% endblock %}
  <body class="{{body_class}}">
    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}


    <section role="main" class="l-row">
      {% if title %}<h1>{{title}}</h1>{% endif %}
      <div class="{{ sidebar ? 'l-column--8' : 'l-column' }}">
        {% block content %}
          Sorry, no content
        {% endblock %}
      </div>
      {% if sidebar %}
        <aside class="{{sidebar_class}} l-column--4">
          {{sidebar}}
        </aside>
      {% endif %}
    </section>

    {% block footer %}
      {% include 'footer.twig' %}
      {{ function('wp_footer') }}
    {% endblock %}
  </body>
</html>
